jobs:
  release:
    needs: test
    runs-on: ubuntu-latest
    #on: workflow_dispatch
    uses: nigelm/gh_release/.github/workflows/setup.yml@main
    steps:
      #----------------------------------------------
      # run releaser
      #----------------------------------------------
      - name: Semantic Release
        #if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          poetry run semantic-release publish

# 3nd
